In [17]:
import pandas as pd

# Replace 'your_file.csv' with the path to your CSV file
df = pd.read_csv('PriceRangeofHDBFlatsOffered.csv')

# Display the first few rows of the dataframe
print(df.head())

   financial_year         town room_type min_selling_price max_selling_price  \
0            2008      Punggol    2-room             82000            107000
1            2008      Punggol    3-room            135000            211000
2            2008      Punggol    4-room            223000            327000
3            2008      Punggol    5-room            305000            428000
4            2008  Jurong West    3-room            142000            160000

  min_selling_price_less_ahg_shg max_selling_price_less_ahg_shg
0                              0                              0
1                              0                              0
2                              0                              0
3                              0                              0
4                              0                              0

In [18]:
# Basic information
print("DataFrame Info:")
print(df.info())

# Data types of each column
print("\nData Types:")
df.dtypes

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 0 to 332
Data columns (total 7 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   financial_year                  333 non-null    int64
 1   town                            333 non-null    object
 2   room_type                       333 non-null    object
 3   min_selling_price               333 non-null    object
 4   max_selling_price               333 non-null    object
 5   min_selling_price_less_ahg_shg  333 non-null    object
 6   max_selling_price_less_ahg_shg  333 non-null    object
dtypes: int64(1), object(6)
memory usage: 18.3+ KB
None

Data Types:

financial_year                     int64
town                              object
room_type                         object
min_selling_price                 object
max_selling_price                 object
min_selling_price_less_ahg_shg    object
max_selling_price_less_ahg_shg    object
dtype: object

In [21]:
# Create a new attribute 'average_price'
df['min_selling_price'] = pd.to_numeric(df['min_selling_price'], errors='coerce')
df['max_selling_price'] = pd.to_numeric(df['max_selling_price'], errors='coerce')

df['average_price'] = (df['min_selling_price'] + df['max_selling_price']) / 2

# Display the first few rows to verify the new attribute
df

,financial_year,room_type,min_selling_price,max_selling_price,min_selling_price_less_ahg_shg,max_selling_price_less_ahg_shg,average_price,town_Bukit Batok,town_Bukit Panjang,town_Choa Chu Kang,town_Hougang,town_Hougang,town_Jurong East,town_Jurong West,town_Punggol,town_Sembawang,town_Sengkang,town_Tengah,town_Woodlands,town_Yishun
0,2008,2,82000.0,107000.0,0,0,94500.0,False,False,False,False,False,False,False,True,False,False,False,False,False
1,2008,3,135000.0,211000.0,0,0,173000.0,False,False,False,False,False,False,False,True,False,False,False,False,False
2,2008,4,223000.0,327000.0,0,0,275000.0,False,False,False,False,False,False,False,True,False,False,False,False,False
3,2008,5,305000.0,428000.0,0,0,366500.0,False,False,False,False,False,False,False,True,False,False,False,False,False
4,2008,3,142000.0,160000.0,0,0,151000.0,False,False,False,False,False,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328,2023,5,454000.0,607000.0,409000,562000,530500.0,False,False,False,False,False,False,False,False,False,False,True,False,False
329,2023,2,119000.0,231000.0,39000,151000,175000.0,False,False,False,False,False,False,False,False,False,False,False,True,False
330,2023,3,223000.0,345000.0,148000,270000,284000.0,False,False,False,False,False,False,False,False,False,False,False,True,False
331,2023,4,303000.0,468000.0,243000,408000,385500.0,False,False,False,False,False,False,False,False,False,False,False,True,False
332,2023,5,412000.0,612000.0,367000,567000,512000.0,False,False,False,False,False,False,False,False,False,False,False,True,False

In [20]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# One-hot encode the 'towns' attribute
df = pd.get_dummies(df, columns=['town'])

# Remove "-room" from 'room_type' and convert to integer
df['room_type'] = df['room_type'].str.replace('-room', '').astype(int)

# Calculate the Spearman correlation matrix
spearman_corr = df.corr(method='spearman')

# Set up the matplotlib figure
plt.figure(figsize=(10, 8))

# Draw the heatmap with the mask and correct aspect ratio
sns.heatmap(spearman_corr, annot=True, cmap='coolwarm', center=0)

# Display the heatmap
plt.show()

ValueError: could not convert string to float: '-'